# Wassup 🤘🏽

My name is Ajlal (ɪdʒˈlɑːl) and I am a Computer Science student at the [University of Waterloo](https://cs.uwaterloo.ca/).

*Fun Fact: The name Ajlal is of Arabic origin, and means **Majestic**!*